<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="userForm.form.valid && logIn(user)" #userForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter email"
               required #email="ngModel">
      </div>
      <div [hidden]='email.pristine || email.value !== ""'
           class="alert alert-danger">Email jest wymagany.
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="user.password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Enter password"
               required #password="ngModel">
      </div>
      <div [hidden]='password.pristine || password.value !== ""'
           class="alert alert-danger">Hasło jest wymagane.
      </div>
      <app-alert></app-alert>
      <button type="submit" [disabled]="!userForm.form.dirty"
              class="btn btn-info">Log In
      </button>
    </form>
  </div>
</div>
