<input type="text" class="question form-control" [(ngModel)]='question.title'
       placeholder="Pytanie"/>
<br/>
<hr/>

<div *ngFor="let answer of question.answers; let i = index"
     [attr.data-index]="i">
  <div>
    <label>Odpowiedź nr. {{i + 1}}</label>
    <app-insert-answer [answer]="question.answers[i]"></app-insert-answer>
  </div>
</div>


<button (click)="addAnswer()" class="add btn btn-primary">
  Nowa odpowiedź</button>
<button (click)="removeAnswer()" class="remove btn btn-primary">
  Usuń odpowiedź</button>
