button{
  margin: 16px 8px 0 0;
  padding: 4px;
  background-color: #67cdcc;
  border-color: #4bbfbe;
}

button:hover{
  background-color: #59b2b1;
  border-color: #3a9594;
}

button.remove{
  background-color: #e37d7a;
  border-color: #d36f71;
}

button.remove:hover{
  background-color: #9f4449;
  border-color: #592e30;
}

input.question{
  background-color: #f0f6ff;
}
