<form [formGroup]=pollForm (ngSubmit)="onSubmit()" class="card my-5">
  <div class="card-body">
    <h2>Kreator ankiety</h2>
    <div class="form-group">
      <label for="pollName"><b>Nazwa ankiety</b></label>
      <input type="text" formControlName="pollName" class="form-control"
             placeholder="Nazwa ankiety"
             [ngClass]="{ 'is-invalid': submitted && getFormControls.pollName.errors }"/>
      <div *ngIf="submitted && getFormControls.pollName.errors"
           class="invalid-feedback">
        <div *ngIf="getFormControls.pollName.errors.required">Podaj nazwę
          ankiety
        </div>
      </div>
    </div>
    <hr/>

    <div *ngFor="let question of questions; let i = index"
         [attr.data-index]="i">
      <div class="form-group">
        <label><b>Pytanie nr. {{i + 1}}</b></label>
        <app-insert-question [question]="question"></app-insert-question>
      </div>
      <hr/>
    </div>


    <app-alert></app-alert>
    <div class="form-group">
      <button (click)="addQuestion()" class="btn btn-primary">Nowe pytanie
      </button>
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading"
              class="spinner-border spinner-border-m mr-1"></span>
        Stwórz Ankietę
      </button>
    </div>
  </div>
</form>
