<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Ankieta</th>
        <th scope="col">Akcja</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let poll of this.polls">
        <td><p class="poll-name text-center text-black py-1">{{ poll.name }}</p></td>
        <td>
          <button *ngIf="isPollNew(poll) else alreadyFilled" class="fill-button" mat-raised-button color="primary" (click)="fillPoll(poll)">
            Wypełnij
          </button>
          <ng-template #alreadyFilled><p class="poll-filled-info">Wypełniona</p></ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
