th{
  text-align: center;
}

td{
  text-align: center;
}

p.poll-name{
  font-family: "Andale Mono";
  font-size: x-large;
}

p.poll-filled-info{
  padding: 12px 0 0 0;
  font-family: "Andale Mono";
  font-weight: bold;
  color: #089800;
}

button.view-answers-button{
  color: #fff;
  background-color: #56c653;
}
