<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Ankieta</th>
        <th scope="col">Status</th>
        <th scope="col">Akcja</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let poll of this.polls">
        <td>{{poll.pollId}}</td>
        <td><p class="poll-name text-center text-black py-1">{{ poll.name }}</p></td>
        <td>{{poll.status}}</td>
        <td>
          <button class="fill-button" mat-raised-button color="primary" (click)="fillPoll(poll)">
            Wypełnij
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
