<br/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3" [hidden]="isUserLoggedIn()">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">Lista użytkowników</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/register" class="btn btn-info">Rejestracja</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/login" class="btn btn-info">Logowanie</a>
            </li>
          </ul>
          <!-- TODO(Damian) 10.06.2020 change to [hidden]="!isUserLoggedIn()" -->
          <ul class="text-center list-inline py-3" [hidden]="isUserLoggedIn()">
            <li class="list-inline-item">
              <a routerLink="/myPolls" class="btn btn-info">Moje ankiety</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/allPolls" class="btn btn-info">Lista ankiet</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/createPoll" class="btn btn-info">Stwórz ankiete</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/" (click)="logout()"
                 class="btn btn-info">Wyloguj</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
