<h2 class="warrning"><b>UWAGA</b></h2>
<p>Prosimy o <b>NIEPODAWANIE</b> prawdziwych danych osobowych, jest to deweloperska wersja aplikacji.</p>
<p>Dane użytkowników są widoczne w zakładce, "Lista użytkowników".</p>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="card my-5">
  <div class="card-body">
    <h2>Rejestracja</h2>
    <div class="form-group">
      <label for="firstName">Imie</label>
      <input type="text" formControlName="firstName" class="form-control"
             placeholder="Imie"
             [ngClass]="{ 'is-invalid': submitted && getFormControls.firstName.errors }"/>
      <div *ngIf="submitted && getFormControls.firstName.errors"
           class="invalid-feedback">
        <div *ngIf="getFormControls.firstName.errors.required">Imie jest wymagane
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Nazwisko</label>
      <input type="text" formControlName="lastName" class="form-control"
             placeholder="Nazwisko"
             [ngClass]="{ 'is-invalid': submitted && getFormControls.lastName.errors }"/>
      <div *ngIf="submitted && getFormControls.lastName.errors"
           class="invalid-feedback">
        <div *ngIf="getFormControls.lastName.errors.required">Nazwisko jest wymagane
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control"
             placeholder="Email"
             [ngClass]="{ 'is-invalid': submitted && getFormControls.email.errors }"/>
      <div *ngIf="submitted && getFormControls.email.errors"
           class="invalid-feedback">
        <div *ngIf="getFormControls.email.errors.required">Email jest wymagany
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" formControlName="password" class="form-control"
             placeholder="Hasło"
             [ngClass]="{ 'is-invalid': submitted && getFormControls.password.errors }"/>
      <div *ngIf="submitted && getFormControls.password.errors"
           class="invalid-feedback">
        <div *ngIf="getFormControls.password.errors.required">Hasło jest wymagane
        </div>
        <div *ngIf="getFormControls.password.errors.minlength">Hasło musi mieć przynajmniej 6 znaków
        </div>
      </div>
    </div>
    <app-alert></app-alert>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"></span>
        Zarejestruj
      </button>
      <a routerLink="/login" class="btn btn-link">Zaloguj</a>
    </div>
  </div>
</form>
