<div class="card my-5">
  <div class="card-body">
    <p>Podgląd ilości odpowiedzi udzielonych w ankiecie przez użytkowników</p>
    <hr/>
    <h1>{{poll.name}}</h1>

    <div *ngFor="let question of poll.questions; let i = index"
         [attr.data-index]="i">

      <label class="question" id="example-radio-group-label">Pytanie {{i + 1}}
        : {{question.title}}</label>
      <mat-radio-group
        [disabled]="true"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group">
        <div *ngFor="let answer of question.answers">
          <table>
            <tr>
              <td class="counter-content">
                {{answer.content}}
              </td>
              <td class="counter">
                x{{answer.answersCounter}}
              </td>
            </tr>
          </table>
        </div>
      </mat-radio-group>
      <hr/>
    </div>
    <app-alert></app-alert>
    <div class="card-body">
      <h2 class="users-answered-poll">
        Użytkownicy, którzy odpowiedzieli na ankiete:
      </h2>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Identyfikator</th>
          <th scope="col">Imie</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let userWhoAnswered of this.usersWhoAnsweredPoll">
          <td>{{ userWhoAnswered.id }}</td>
          <td>{{ userWhoAnswered.firstName }}</td>
          <td>{{ userWhoAnswered.lastName }}</td>
          <td><a
            href="mailto:{{ userWhoAnswered.email }}">{{ userWhoAnswered.email }}</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="card-body">
      <h2 class="users-did-not-answer-poll">
        Użytkownicy, którzy nie odpowiedzieli na ankiete:
      </h2>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Identyfikator</th>
          <th scope="col">Imie</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let userWhoDidNotAnswer of this.usersWhoDidNotAnswerPoll">
          <td>{{ userWhoDidNotAnswer.id }}</td>
          <td>{{ userWhoDidNotAnswer.firstName }}</td>
          <td>{{ userWhoDidNotAnswer.lastName }}</td>
          <td><a
            href="mailto:{{ userWhoDidNotAnswer.email }}">{{ userWhoDidNotAnswer.email }}</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
