<div class="card my-5">
  <div class="card-body">
    <p>Podgląd ilości odpowiedzi udzielonych w ankiecie przez użytkowników</p>
    <hr/>
    <h1>{{poll.name}}</h1>

    <div *ngFor="let question of poll.questions; let i = index"
         [attr.data-index]="i">

      <label class="question" id="example-radio-group-label">Pytanie {{i + 1}}
        : {{question.title}}</label>
      <mat-radio-group
        [disabled]="true"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group">
        <div *ngFor="let answer of question.answers">
          <table>
            <tr>
              <td>
                {{answer.content}}
              </td>
              <td class="counter">
                x{{answer.answersCounter}}
              </td>
            </tr>
          </table>
        </div>
      </mat-radio-group>
      <hr/>
    </div>
    <app-alert></app-alert>
  </div>
</div>
