p {
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.51);
}

h1 {
  font-size: 28px;
  text-align: center;
}

td {
  width: 100%;
  text-align: left;
  padding: 4px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.51);
}

td.counter {
  width: 100%;
  color: rgb(0, 0, 0);
}

label.question {
  font-size: 20px;
}

h2.users-answered-poll{
  color: #7dd44b;
  padding: 4px;
}

h2.users-did-not-answer-poll{
  color: #e23b3a;
  padding: 4px;
}

p.user{
  color: #2d2d2d;
  padding: 2px;
  text-align: left;
}
